body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  margin-top: 100px;
}

.login {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  margin-top: 100px;
}

.register {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  margin-top: 100px;
}